body {
	background: paleturquoise;
}

.heading {
	background: black;
	color: white;
	text-align: center;
}

.imeges-block {
	background: yellow;
	text-align: center;
}

.description {
	text-align: center;
	color: red;
}

.title {
	text-align: center;
	background: green;
}

.subtitle {
	background: yellow;
}

.text {
	text-align: right;
}

.mark {
	background: green;
	color: white;
}
